@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.main_div{
  /* border: 1px solid rgb(243, 13, 13); */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.box{
  /* border: 1px solid pink; */
  height: 450px;

}
.imag{
  width: 350px;
  height: 250px;
  /* border-radius: 50%; */
  overflow: hidden;
}